
.Layout {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    align-items: center;
}

.Children {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    align-items: center;
}

.FooterSmall {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: x-small;
  height: 85px;
  padding: 20px;
}
.FooterMedium {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: large;
  height: 85px;
  padding: 20px;
}
.FooterLarge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: large;
  height: 85px;
  padding: 20px;
}

.Header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 85px;
}
.HeaderTitleLarge {
  font-size: xx-large;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  text-align: center;
}
.HeaderTitleMedium {
  font-size: x-large;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  text-align: center;
}
.HeaderTitleSmall {
  font-size: small;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  text-align: center;
}

.MenuItem {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding: '20px';
}

.MenuItem:hover {
    background-color: rgb(220, 220, 220);
}

html,
body {
  background: #130f40;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
}